body {
background: #ffffff URL(../style/window.jpg) fixed left top;
text-align: left;
margin: 0px;
font-family: tahoma, verdana, arial, sans-serif;
font-size: 12pt;
color:#000000;
padding:0;
}
a, a:link, a:active, a:visited {font-family: tahoma, verdana, arial, sans-serif;
font-size: 12pt;color:#0000ff;text-decoration:none}
a:hover {font-family: tahoma, verdana, arial, sans-serif;
font-size: 12pt;color:#ff0000;position:relative;text-decoration:none}
a img {display:none}
a:hover img {display:block;position:absolute}

.post {
  margin-bottom: 10px;
}
.offline {
  color: #800000;
}
.moved {
  color: #808000;
}